@import "tailwindcss" important prefix(tw);

@theme inline {
    --color-background: rgb(var(--v-theme-background));

    --color-primary: rgb(var(--v-theme-primary));
    
    --color-brain: rgb(var(--v-theme-brain));
    --color-brain-secondary: rgb(var(--v-theme-brain-secondary));

    --color-front-end-development: rgb(var(--v-theme-front-end-development));
    --color-ui-ux-design: rgb(var(--v-theme-ui-ux-design));
    --color-back-end-development: rgb(var(--v-theme-back-end-development));
    --color-data-science: rgb(var(--v-theme-data-science));

    --color-foreground: rgb(var(--v-theme-foreground));

    --color-muted: rgb(var(--v-theme-muted));
    --color-muted-foreground: rgb(var(--v-theme-muted-foreground));
}

#app {
    min-height: 100vh;
    width: 100%;
}

html {
    overflow: visible !important;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.code-font {
    font-family: 'Google Sans Code', monospace;
}

.roboto-font {
    font-family: 'Roboto';
}

.design-font {
    font-family: 'Limelight' !important;
}