@import "tailwindcss" important prefix(tw);

@theme inline {
    --color-primary: rgb(var(--v-theme-primary));
    --color-primary-foreground: rgb(var(--v-theme-primary-foreground));

    --color-muted-foreground: rgb(var(--v-theme-muted-foreground));
}

#app {
    width: 100vw;
    height: 100vh;
}