@import "tailwindcss" important prefix(tw);

@theme inline {
    --color-primary: rgb(var(--v-theme-primary));
    --color-primary-foreground: rgb(var(--v-theme-primary-foreground));

    --color-muted-foreground: rgb(var(--v-theme-muted-foreground));
}

#app {
    min-height: 100vh;
    width: 100%;
}

html {
    overflow: visible !important;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.code-font {
    font-family: 'Google Sans Code', monospace;
}