@import "tailwindcss" important prefix(tw);

@theme inline {
    --color-primary: rgb(var(--v-theme-primary));
    --color-primary-foreground: rgb(var(--v-theme-primary-foreground));

    --color-muted-foreground: rgb(var(--v-theme-muted-foreground));

    --color-toggle-bg-light: rgb(var(--v-theme-toggle-bg-light));
    --color-toggle-sun: rgb(var(--v-theme-toggle-sun));
    --color-toggle-sun-inner: rgb(var(--v-theme-toggle-sun-inner));
    --color-toggle-cloud: rgb(var(--v-theme-toggle-cloud));

    --color-toggle-bg-dark: rgb(var(--v-theme-toggle-bg-dark));
    --color-toggle-moon: rgb(var(--v-theme-toggle-moon));
    --color-toggle-star: rgb(var(--v-theme-toggle-star));

    --color-sidebar-background: rgb(var(--v-theme-sidebar-background));
    --color-sidebar-foreground: rgb(var(--v-theme-sidebar-foreground));
    --color-sidebar-primary: rgb(var(--v-theme-sidebar-primary));
    --color-sidebar-primary-foreground: rgb(var(--v-theme-sidebar-primary-foreground));
    --color-sidebar-accent: rgb(var(--v-theme-sidebar-accent));
    --color-sidebar-accent-foreground: rgb(var(--v-theme-sidebar-accent-foreground));
    --color-sidebar-border: rgb(var(--v-theme-sidebar-border));
    --color-sidebar-ring: rgb(var(--v-theme-sidebar-ring));


    --color-vue: rgb(var(--v-theme-vue));
    --color-fastApi: rgb(var(--v-theme-fastApi));
    --color-tailwind: rgb(var(--v-theme-tailwind));
    --color-mobileDevelopment: rgb(var(--v-theme-mobileDevelopment));
    --color-huggingFace: rgb(var(--v-theme-huggingFace));
    --color-python: rgb(var(--v-theme-python));
    --color-nlp: rgb(var(--v-theme-nlp));
    --color-api: rgb(var(--v-theme-api));
    --color-d3: rgb(var(--v-theme-d3));
    --color-gsap: rgb(var(--v-theme-gsap));
}

#app {
    min-height: 100vh;
    width: 100%;
}

html {
    overflow: visible !important;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.code-font {
    font-family: 'Google Sans Code', monospace;
}